# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[3:6]

[4, 5, 6]

In [22]:
# create a list of numbers from 1 to 20
list20 = list(range(1, 21))
list20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
list100 = list(range(2, 101, 2))
list100

In [28]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(first, second):
    val = first / second
    return val

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
nums = list(range(1, 31))
for num in nums:
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmos_pricing = {"Gyro":9.0, "Burger":9.0, "Greek Salad":8.0, "Philly Steak":10.0}

In [32]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
type(df)

pandas.core.frame.DataFrame

In [ ]:
# select all rows with more than and including 400 calories
df[df["calories"] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [35]:
# create a new column containing the caffeine per calories of each drink
df["caffeine_per_calories"] = df["caffeine"] / df["calories"]

In [36]:
# what is the average calorie across all items?
df["calories"].mean()

np.float64(193.87190082644628)

In [38]:
# how many different categories of beverages are there?
print(df["beverage_category"].nunique())

9

In [39]:
# what is the average # calories for each beverage category?
beverage_type = df.groupby("beverage_category")
beverage_type["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64